{%extends 'app/base.html' %}
{%load static%}
{%block title%}
Change Password
{%endblock title%}
{%block main%}
<div class="row p-5 w-100">
    <div id="list-example" class="list-group col-2 ms-5 border-end">
        <h4 class="text-dark fw-bold" style="text-align: center;">{{request.user.first_name}} {{request.user.last_name}}</h4>
        <a class="list-group-item list-group-item-action bg-primary rounded text-white" style="text-align: center;" href="{%url 'changepassword'%}">Change Password</a>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example col-8 m-auto" tabindex="0">
      <form action="{% url 'changepassword' %}" method="POST" novalidate>
        {%csrf_token%}
        {%for comp in form%}
          <div class="form-group my-2">
              {{comp.label_tag}} {{comp}} <small class="text-danger">{{comp.errors|striptags}}</small>
          </div>
        {%endfor%}
        <!-- {{fm.as_p}} -->
        <input type="submit" value="Submit" class="btn btn-primary">
      <!-- {% if messages %}
        {%for message in messages%}
          <small {% if message.tags%} class="text-{{message.tags}}" {%endif%}>{{message}}</small>
        {%endfor%}
      {%endif%} -->
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <p class="alert alert-danger m-3">{{error}}</p>
        {%endfor%}
      {% endif %}
    </form>
      <!-- <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">New Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
    </div>
</div>

{%endblock main%}