{%extends 'app/base.html' %}
{%load static%}
{%block title%}
Change Password Done
{%endblock title%}
{%block main%}
<div class="row p-5">
    <div id="list-example" class="list-group col-2 ms-5 border-end">
        <h2 class="text-dark fw-bold" style="text-align: center;">Ram Kishan</h2>
        <a class="list-group-item list-group-item-action bg-primary rounded text-white" style="text-align: center;" href="{%url 'changepassword'%}">Change Password</a>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="scrollspy-example col-8 m-auto" tabindex="0">
        <h1 class="text-success">Password Changed Successfully!</h1> <br><br><br>
        <img src="{% static 'app/images/success.gif'%}" alt="" height="200" width="200">
      <!-- <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">New Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
    </div>
</div>

{%endblock main%}