{%extends 'app/base.html'%}
{%load static%}
{% block title%}
Password Reset Link Sent
{%endblock title%}

{%block main%}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h4 class="alert-heading">Email Sent</h4>
            <p>
                Password change link is sent to E-mail <span class="text-bold">{{request.user.email}}</span>. <br>
                Open the mail and follow the further instructions given in email.
            </p>
        </div>
    </div>
</div>
{%endblock main%}