{%extends 'app/base.html' %}
{%load static%}
{%block title%}
Reset Password Confirm
{%endblock title%}
{%block main%}
<div class="login-from align-middle w-50 border rounded my-5 m-auto p-5 shadow">
  <h1 class="text-dark fw-5">Reset Passowrd Confirm</h1>
  <hr class="bg-secondary" style="height: 2px;">
  <form action="" method="POST" novalidate>
    {%csrf_token%}
    {%for comp in form%}
      <div class="form-group my-2">
          {{comp.label_tag}} {{comp}} <small class="text-danger">{{comp.errors|striptags}}</small>
      </div>
    {%endfor%}
    <!-- {{fm.as_p}} -->
    <input type="submit" value="Submit" class="btn btn-primary">
  <!-- {% if messages %}
    {%for message in messages%}
      <small {% if message.tags%} class="text-{{message.tags}}" {%endif%}>{{message}}</small>
    {%endfor%}
  {%endif%} -->
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
      <p class="alert alert-danger m-3">{{error}}</p>
    {%endfor%}
  {% endif %}
</form>
</div>

{%endblock main%}